
<div class="container">
      <h1 align="center">Find Your Deal</h1>
<div class="row">
  <div class="col-md-4">  <app-result-card></app-result-card></div>
  <div class="col-md-4">    <app-result-card></app-result-card></div>
    <div class="col-md-4">    <app-result-card></app-result-card></div>
</div>
<div class="row">
  <div class="col-md-4">    <app-result-card></app-result-card></div>
    <div class="col-md-4">    <app-result-card></app-result-card></div>
      <div class="col-md-4">    <app-result-card></app-result-card></div>
</div>
</div>  
