@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans');

h1 {
  font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin-right: 70px;
    color: white;
}

.container{
  height: 100%;
  margin:0 auto;
  padding-left: 100px;
  text-align: center;
  width: 100%;
  min-width: 1300px;
  background-color: #f4511e;
}
