@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans');


h1 {
  font-family: 'Josefin Sans', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

image-upload {
  margin:5px;
  width: 200px;
}

.jumbotron {
    background-color: #f4511e; /* Orange */
    color: #ffffff;
    height: 100vh;
    padding: 110px;
}

.wrap{
  margin:0 auto;
  width: 520px;
}

.form-inline {
  margin-top: 25px;
}

.btn {
  margin:15px;
  width: 100px;
}
