<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Theme Company</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="jumbotron text-center">
    <h1>Fliperoo</h1>
    <p>Find your deal, the easy way.</p>
    <div class="wrap">
    <image-upload
      url="https://httpbin.org/status/200"
      buttonCaption="SELECT IMAGE"
      dropBoxMessage="or drop image here"
      clearButtonCaption="Delete Image"
      >
    </image-upload>
  </div>

  <!-- <form class="form-inline" enctype="multipart/form-data"
      action="http://example.org/wmqfte/file/agent/AGENT1@QM1/webuploads"
      method="POST">
 <input type="HIDDEN" name="dest-exists-action" value="overwrite"/>
 <input type="HIDDEN" name="type" value="text"/>
 <input type="HIDDEN" name="jobname" value="TEST"/>
 <input type="HIDDEN" name="priority" value="1"/>
 <input type="HIDDEN" name="checksum" value="NONE"/>
 <input type="HIDDEN" name="metadata" value="fred=awesome,bob=cool"/>
 <input type="HIDDEN" name="metadata" value="lewis=fast,niall=slow"/>
 <input type="HIDDEN" name="postdest"
        value="[command=D:\postdest.cmd,type=executable,successrc=0]"/>
 <input type="HIDDEN" name="postdest-args" value="[fred]"/>
 File: <input type="FILE" name="Red_Apple.jpg"/>
</form> -->
    <form class="form-inline">
      <div class="input-group">
        <input type="text" class="form-control" size="25" placeholder="Enter your postal code" required>
      </div>
    </form>
    <div class="search-btn">
      <button
      routerLink="/result"
      type="button"
      class="btn btn-success btn-lg"
      (click)='clickMe()'>Search</button>
    </div>
  </div>
  </body>
