<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Theme Company</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="jumbotron text-center">
    <h1>Fliperoo</h1>
    <p>Find your deal, the easy way.</p>
    <image-upload
      url="https://httpbin.org/status/200"
      buttonCaption="SELECT IMAGE"
      dropBoxMessage="or drop image here"
      clearButtonCaption="Delete Image"
      >
    </image-upload>
    <form class="form-inline">
      <div class="input-group">
        <input type="text" class="form-control" size="25" placeholder="Enter your postal code" required>
      </div>
    </form>
    <div class="search-btn">
      <button type="button" class="btn btn-success btn-lg">Search</button>
    </div>
  </div>
  </body>
